/* covered-by-your-grace-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Covered By Your Grace';
     font-style: normal;
     font-weight: 400;
     src: url('./fonts/covered-by-your-grace-v15-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('./fonts/covered-by-your-grace-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./fonts/covered-by-your-grace-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('./fonts/covered-by-your-grace-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('./fonts/covered-by-your-grace-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./fonts/covered-by-your-grace-v15-latin-regular.svg#CoveredByYourGrace') format('svg'); /* Legacy iOS */
   }