* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(52, 52, 120);
    font-family: 'Oswald';
    letter-spacing: 3px;
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#h1-container {
    display: flex;
    justify-content: center;
    z-index: 3 ;
}

h1 {
    padding: 10px;
    color: yellow;
    font-weight: bold;
    font-size: 50px;
    border: 3px solid yellow;
    border-radius: 24px;
    background-color: rgb(13, 13, 87);
    margin-top: 16px;
    z-index: 999;
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

canvas {
    display: block;
    position: relative;
    background-color: black;
}

.border-styling {
    border: 1px solid black;
    border-radius: 20px;
}

.startscreen-container {
    width: 1080px;
    height: 720px;
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: yellow;
    border-radius: 20px;
}

.game-navigation {
    margin: 32px;
}

.controll-keys {
    margin: 16px;
}

#return-btn {
    margin: 16px;
    transition: all 175ms ease-in-out;
}

#return-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 175ms ease-in-out;
}

.icon-container {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: yellow;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
}

.icon {
    width: 100%;
    height: 100%;
}

#credit-section {
    display: flex;
    flex-direction: column;
    margin: 32px;
}

#credit-section a {
    text-decoration: none;
    color: yellow;
}

.game-navigation div {
    font-size: 30px;
    margin-top: 16px;
    border: 1px solid yellow;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    transition: all 175ms ease-in-out;
}

.game-navigation div:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 175ms ease-in-out;
}

.controll-keys div {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.controll-keys div div {
    margin-left: 8px;
    margin-right: 8px;
}


p {
    font-size: 24px;
}

.d-none {
    display: none !important;
}

#back-to-main {
    position: absolute;
    top: 90%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.in-game-btn {
    margin: 8px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    transition: all 175ms ease-in-out;
    background-color: yellow
}

.in-game-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 175ms ease-in-out;
}

.in-game-style {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 175ms ease-in-out;
}

.in-game-style:hover {
    transform: scale(1.05);
    transition: all 175ms ease-in-out;
}

.mobile-icon-container {
    width: 22px;
    height: 22px;
    padding: 4px;
    object-fit: contain;
    border-radius: 50%;
    background-color: yellow;
}

.mobile-icon {
    width: 100%;
    height: 100%;
}

#mobile-action-btn-container {
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrows-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attack-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.attack-btn-container>div {
    margin-right: 16px;
}

.flex-row {
    display: flex;
}

.flex-row>div {
    margin: -12px 24px;
}

.left {
    transform: rotate(-90deg);
}

.right {
    transform: rotate(90deg);
}

.down {
    transform: rotate(180deg);
}


@media only screen and (max-width: 1080px) {

    #start-screen {
        width: 100%;
    }

    #canvas-container {
        width: 100%;
    }

    canvas {
        width: 100%;
        border: none !important;
        border-radius: 0 !important;
    }
}


@media only screen and (max-width: 830px) {
    #back-to-main {
        top: 85%;
    }
}

@media only screen and (max-width: 540px) {
    #back-to-main {
        top: 80%;
    }

    .in-game-btn {
       font-size: 12px;
    }

   
}

@media only screen and (max-height: 720px) {

    #start-screen {
        height: 100vh;
    }

    #canvas-container {
        height: 100vh;
        aspect-ratio: 1080/720;
        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        width: auto;
    }

    canvas {
        height: 100vh;
    }

    .icon-container {
        margin: 4px;
    }

    #back-to-main {
        top: 1%;
        align-items: center;
        left: 80%;
    }

    .in-game-btn {
        margin: 4px;
        font-size: 8px;
     }

     .in-game-style {
        width: 15px;
        height: 15px;
        padding: 4px;
     }

     .margin-bottom-4px {
        margin-bottom: 4px;
     }

}